{% load static %}
{% load catalog_tags %}
<div class="pagination">
    <ul>
    {% if cars.has_previous %}
                <li><a href="?{% change_params page=cars.previous_page_number %}"></a></li>
        {% endif %}
        {% for page in cars.paginator.page_range %}
        {% if page >= cars.number|add:-2 and page <= cars.number|add:2 %}
        <li {% if cars.number == page %} active {% endif %}><a class="page-link" href="?{% change_params page=page %}">{{ page }}</a></li>
        {% endif %}
        {% endfor %}
        {% if  cars.has_next %}
        <li class="page-item">
            <a class="page-link" href="?{% change_params page=cars.next_page_number %}"></a>
        </li>
        {% endif %}
    </ul>
</div>